DOCKERHUB_USERNAME=
IMAGE_TAG=latest
POSTGRES_DB=smartwear
POSTGRES_USER=smartwear
POSTGRES_PASSWORD=
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=smartwear.co.tz,www.smartwear.co.tz,admin.smartwear.co.tz,backend
DJANGO_CSRF_TRUSTED_ORIGINS=https://smartwear.co.tz,https://www.smartwear.co.tz,https://admin.smartwear.co.tz
DJANGO_CORS_ALLOWED_ORIGINS=https://smartwear.co.tz,https://www.smartwear.co.tz,https://admin.smartwear.co.tz
DB_ENGINE=postgresql
DB_NAME=smartwear
DB_USER=smartwear
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
WEB_CONCURRENCY=1
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_WS_BASE_URL=/ws
API_INTERNAL_URL=http://backend:8000/api
DJANGO_USE_S3=True
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_CUSTOM_DOMAIN=
WEBSOCKET_ALLOWED_ORIGINS=https://smartwear.co.tz,https://www.smartwear.co.tz,https://admin.smartwear.co.tz
